@using Enterprise.Models
@using Enterprise.Infrastructure
@model Schedule<MachineSchedule>
@{
    ViewBag.Title = "Розклад робіт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

